@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700);
html {
  margin: 0 !important;
  padding: 0; }

body {
  overflow-x: hidden;
  font-family: "Philosopher", Helvetica, Arial, sans-serif !important;
  -webkit-appearance: none !important;
  font-style: normal;
  font-weight: 400; }

button, input, select, textarea, .searchbox-title {
  font-family: "Philosopher", Helvetica, Arial, sans-serif !important;
  -webkit-appearance: none !important; }

figure img {
  /* border-radius: 50px;*/
  margin-bottom: 10px; }

.pages_div {
  text-align: center; }
  .pages_div a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 3px;
    vertical-align: middle; }
  .pages_div span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 3px;
    vertical-align: middle;
    background: #ff6600;
    color: #fff; }

.info_div {
  text-align: center; }

.icons {
  margin-top: 10px; }
  .icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 3px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    text-decoration: none; }
    .icons a.twitter {
      background: url(../images/_twitter.png) left top no-repeat;
      opacity: 0.5; }
    .icons a.linkedin {
      background: url(../images/_linkedin.png) left top no-repeat;
      opacity: 0.5; }
    .icons a.facebook {
      background: url(../images/_facebook.png) left top no-repeat;
      opacity: 0.5; }
    .icons a.email {
      background: url(../images/_email.png) left top no-repeat;
      opacity: 0.5; }
    .icons a.googleplus {
      background: url(../images/_googleplus.png) left top no-repeat;
      opacity: 0.5; }
    .icons a.youtube {
      background: url(../images/_youtube.png) left top no-repeat;
      opacity: 0.5; }
    .icons a.google {
      background: url(../images/_google.png) left top no-repeat;
      opacity: 0.5; }
    .icons a:hover {
      opacity: 1; }

#dir-searchsubmit {
  float: left; }

#map-search-form .clear_search {
  margin-left: 10px; }

/*==============================================
                USER SEARCH FORM
===============================================*/
#form_fileds {
  margin-bottom: 10px; }

#map-search-form {
  bottom: 15px;
  padding: 15px;
  position: absolute;
  right: 16px; }
  #map-search-form input, #map-search-form select {
    margin-bottom: 10px; }
  #map-search-form input[type=submit] {
    margin-bottom: 0px; }

.metric {
  color: #2b3e50; }

.geo-loc {
  position: relative; }

#district_list_ul, #state_list_ul {
  width: 150px;
  height: auto;
  padding: 10px;
  max-height: 250px;
  overflow: scroll;
  border: 1px solid #ccc;
  position: absolute;
  top: 20;
  left: 0;
  background: #fff; }

.key, .skey {
  position: relative;
  background: #fff; }

#district_list_ul li a, #state_list_ul li a {
  cursor: pointer; }

.mCSB_inside > .mCSB_container {
  margin-right: 17px !important; }

.margin_padding_0 {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 0px !important; }

.sform_li {
  right: 17px; }

.marker-content img {
  float: right;
  padding: 1px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.with-image .map-item-info {
  width: 170px;
  padding: 15px; }

.map-item-info .title {
  color: #333333;
  font-family: "$font_4";
  font-size: 14px;
  font-weight: bold; }

body {
  position: relative; }

.TB_window {
  position: absolute;
  z-index: 100051; }

.skey {
  position: relative;
  background: #fff; }

#dir-searchinput-settings-position .searchbox-title {
  color: #41403e;
  /*margin-bottom: 24px;*/ }

#map-search-form .geo-button {
  display: block;
  float: left;
  height: 30px;
  width: 30px; }

#dir-searchinput-settings-position #dir-searchinput-geo {
  position: absolute; }
#dir-searchinput-settings-position .search-slider-geo input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color #c4c4c4;
  border-image: none;
  border-radius: 5px;
  border-style: none none solid;
  border-width: medium medium 2px;
  /*height: 30px;*/
  line-height: auto !important;
  padding: 5px;
  /*width: 224px;*/ }
#dir-searchinput-settings-position .iphone-style {
  background: url(../images/geolocation.png) no-repeat scroll center top transparent;
  height: 16px;
  width: 16px; }

.iphone-style {
  background: url(../images/geolocation.png) no-repeat scroll 0 0 transparent;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 28px;
  overflow: hidden;
  width: 87px; }

#dir-searchinput-settings-position .iphone-style.off {
  background-position: center bottom; }
#dir-searchinput-settings-position .text-geo-radius input {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  float: left;
  margin: 0;
  padding: 0;
  width: 26px; }
#dir-searchinput-settings-position .text-geo-radius .metric {
  clear: both;
  line-height: 30px; }

.hidden {
  display: none;
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

ul.ul_user {
  margin: 0 0 0 -27px;
  padding: 0;
  text-align: center; }
  ul.ul_user > li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    margin-left: 27px;
    width: 100%;
    margin-top: 30px; }

/*.nav-tabs > li > a {  
  background-color: $white
}*/
.error.form-control {
  /* border-color: #a94442;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/ }

label.error {
  /*color: #a94442;*/ }

ul.nav {
  margin-bottom: 10.5px; }

div.profession_info {
  padding-left: 20px; }

label.error {
  color: #d9534f; }

.panel-heading {
  cursor: pointer; }

#state_list_ul {
  z-index: 10;
  width: 250px;
  height: auto;
  padding: 10px;
  max-height: 250px;
  overflow: scroll;
  border: 1px solid #ccc;
  position: absolute;
  top: 20;
  left: 0;
  background: #fff; }
  #state_list_ul li a {
    cursor: pointer; }

.modal_body_wrap {
  display: none; }

.modal {
  max-height: 590px; }

body.modal_wrap {
  overflow: hidden;
  position: relative; }
  body.modal_wrap .modal_body_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
    background-color: #000;
    opacity: 0.25; }

.distance_text {
  color: #000;
  margin: 5px 0px; }

/* GOOGLE MARKER STYLE START*/
.gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 10px 10px; }

#iw-container {
  margin-bottom: 10px;
  width: 350px; }
  #iw-container .iw-title {
    font-family: "$font_5", sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
    width: 100%; }
  #iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden; }

.iw-content img {
  float: right;
  margin: 0 5px 5px 10px; }

.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0; }

.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%); }

/* GOOGLE MARKER STYLE END*/
.slider-container {
  float: right;
  padding-right: 10px; }

.panel .panel-body {
  font-size: 12px !important;
  position: relative; }

.dir-searchinput-settings {
  width: 100%;
  clear: both; }

.user_block_btn {
  padding: 0px 10px; }

.selected-bar {
  background-color: #57504a;
  background-image: none; }

.no-map {
  /*position: relative;
  .search_frm{
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
  }
*/
  /*
  input.form-control, select {
    width: 30% !important;
    height: 37px;
    display: inline;
    margin-right: 20px;
  }
  .search_personal {
    margin-bottom: 20px;
  }
  .dir-search-button {
    margin-top: 20px;
  }
  .dir-searchinput-settings .form-control {
    width: 20% !important;
  }
  
  .search_profession {
    position: relative;
  }*/ }
  .no-map #dir-searchsubmit {
    float: none; }

/*
*
*   max-width: 767px
*
*/
@media only screen and (max-width: 767px) {
  #map-search-form {
    position: relative;
    margin-left: 0px !important;
    left: 0px;
    bottom: 0px;
    padding: 0px; }
    #map-search-form input[type=submit] {
      margin-bottom: 10px; }
    #map-search-form .searchbox-title {
      color: #41403e;
      font-size: 16px !important; }
    #map-search-form input, #map-search-form select {
      display: block; }
    #map-search-form input, #map-search-form select {
      width: 100%;
      height: 40px;
      line-height: 100%; }

  /*input.clear_search {
    width: 100%;
    height: 40px;
    line-height: 100%;
    clear: both;
  }*/
  .nav-tabs {
    border-bottom: 0px !important; }
    .nav-tabs > li {
      margin-bottom: 2px !important;
      width: 100%; }

  .search_data {
    text-align: center; }

  .modal {
    overflow: auto !important; }

  .modal-body ul.nav-tabs {
    border-bottom: 1px solid #596a7b !important; }

  .sform_li {
    padding: 20px !important;
    margin: 20px !important;
    width: 100%; }

  #map-search-form .clear_search {
    margin-left: 0px; }

  .slider-container.theme-green {
    width: 85% !important; } }
.search_profession, .search_around, .search_in_order {
  display: none; }

.search_personal_p, .search_profession_p, .search_around_p, .search_in_order_p {
  cursor: pointer;
  border-bottom: 1px lightblue solid; }

.search_around {
  position: relative;
  top: 10px;
  height: 34px;
  margin-bottom: 10px; }

.show-grid {
  margin-bottom: 15px; }

/*# sourceMappingURL=noone.css.map */
